*{
	padding: 0;
	margin: 0;
}
body{
	min-width: 1200px;
}
.main{
	width: 100%;
	height: 800px;
	overflow: hidden;
	position: relative;
}
.first{
	margin-top: 10px;
	width: 340px;
	height: 340px;
	border-radius: 170px;
	background-color: rgb(1,76,72);
}
.first_one{
	width: 286px;
	height: 286px;
	border-radius: 143px;
	background-color: rgb(175,178,178);
	position: relative;
	top: 27px;
	margin: auto ;
	z-index: 2;
}
@keyframes ring{
	from{transform: rotate(0deg);}
	to{transform: rotate(360deg);}
}
@keyframes ringtwo{
	from{transform: rotate(0deg);}
	to{transform: rotate(-360deg);}
}
.first_one img{
	width: 78%;
	position: relative;
	top: 11%;
	left: 11%;
	animation: ring 12s linear infinite;
}
.second{
	width: 580px;
	height: 580px;
	border-radius: 290px;
	background-color: rgb(235,97,0);
	position: absolute;
	left: 7%;
	top: -40px;
	z-index: 1;
}
.second_one{
	width: 490px;
	height: 490px;
	border-radius: 245px;
	background-color: rgb(124,40,68);
	margin: auto;
	position: relative;
	top: 45px;
}
.second_two{
	width: 470px;
	height: 470px;
	border-radius: 235px;
	background-color: rgb(71,13,100);
	margin: auto;
	position: relative;
	top: 10px;
}
.third{
	width: 360px;
	height: 360px;
	border-radius: 180px;
	background-color: rgb(173,173,173);
	position: relative;
	left: 30%;
	top: -260px;
    float: left;
}
.third_one{
	width: 280px;
	height: 280px;
	border-radius: 140px;
	background-color: rgb(230,0,18);
	position: relative;
	top: 40px;
	left: 40px;
	z-index: 2;
}
.third_one img{
	width: 86%;
	position: relative;
	top: 7%;
	left: 7%;
	animation: ringtwo 12s linear infinite;
}
.four{
	width: 230px;
	height: 230px;
	border-radius: 115px;
	background-color: rgb(230,0,18);
	position: relative;
	top: -260px;
	left: 58%;
}
.four_one{
	width: 210px;
	height: 210px;
	border-radius: 105px;
	background-color: rgb(160,160,160);
	position: relative;
	top: 10px;
	left: 10px;
}
.four_two{
	width: 170px;
	height: 170px;
	border-radius: 85px;
	background-color: rgb(170,170,170);
	position: relative;
	top: 20px;
	left: 20px;
	text-align: center;
}
.four_two p{
	color: rgb(237,235,238);
	position: relative;
    top: -300px;
    font-size: 35px;
}
.five{
	width: 280px;
	height: 280px;
	border-radius: 140px;
	background-color: rgb(243,152,0);
	position: absolute;
	left: 78%;
	top: 20px;
}
.five img{
	width: 80%;
	position: relative;
	left: 10%;
	top: 10%;
	animation: ringtwo 12s linear infinite;
}
.six{
	width: 480px;
	height: 480px;
	border-radius: 240px;
	background-color: rgb(254,215,0);
	position: relative;
	top: -140px;
	z-index: 2;
}
.six img{
	width: 86%;
	border-radius: 300px;
	position: relative;
	left: 7%;
	top: -20%;
	animation: ringtwo 12s linear infinite;
}
.seven{
	width: 580px;
	height: 580px;
	border-radius: 290px;
	background-color: rgb(254,215,0);
	position: relative;
	top: -740px;
	left: 58%;
}
.seven_one{
	width: 380px;
	height: 380px;
	border-radius: 190px;
	background-color: rgb(3,3,163);
	position: relative;
	top: 100px;
	left: 100px;
}
.seven img{
	width: 80%;
	position: relative;
	left: 10%;
	top: 10%;
	animation: ring 12s linear infinite;
}
