*{
	padding: 0;
	margin: 0;
}
body{
	min-width: 1520px;
}
audio{
	width: 300px;
	padding-bottom: 50px;
}
.song{
	float: left;
	width: 50%;
	background-color: rgb(234,216,243);
}
.pic{
	width: 100%;
    height: auto;
}
.pic img{
	width: 80%;
	position: relative;
	left: 10%;
	top: 50px;
}
.hreat{
	margin-top: 110px;
	margin-left: 10%;
	width: 50px;
	padding-bottom: 50px;
}
.four{
	width: 40px;
	margin-left: 4%;
	padding-bottom: 50px;
}
.three{
	width: 38px;
	position: relative;
	left: -25px;
	padding-bottom: 50px;
}
.right{
	width: 50%;
	background-color: rgb(237,235,231);
	float: right;
	color: rgb(167,91,29);
	padding-bottom: 210px;
}
.text{
	margin-left: 250px;
	margin-top: 10px;
	font-size: 15px;
}
